## Skip numbers divisible by 3 using continue.

In [2]:
for i in range(1, 11):        # Loop from 1 to 10
    if i % 3 == 0:           # Check if the number is divisible by 3
        continue             # Skip the rest of the loop for this iteration
    print(i, end=" ")         # Print the number

1 2 4 5 7 8 10

## Print only even numbers from 1 to 50 using range().

In [5]:
for i in range(2, 51, 2):  # Start from 2, increment by 2
    print(i, end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50

## Calculate the sum of squares of numbers from 1 to 10.

In [8]:
total = 0
for i in range(1, 11):       # Loop from 1 to 10
    total += i ** 2          # Add the square of the current number
print("Sum of squares is:", total)

Sum of squares is: 385

## Print a pyramid pattern of numbers.

In [11]:
for i in range(1, 6):           # Outer loop for rows (1 to 5)
    for j in range(1, i + 1):   # Inner loop for columns in each row
        print(j, end=" ")       # Print the column value
    print()                     # Move to the next line after each row

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

## Multiplication table in matrix format using nested loops.

In [14]:
for i in range(1, 11):          # Outer loop for rows (1 to 10)
    for j in range(1, 11):      # Inner loop for columns (1 to 10)
        print(f"{i * j:4}", end=" ")  # Print product with 4-character spacing
    print()                    # Move to the next line after each row

   1    2    3    4    5    6    7    8    9   10
   2    4    6    8   10   12   14   16   18   20
   3    6    9   12   15   18   21   24   27   30
   4    8   12   16   20   24   28   32   36   40
   5   10   15   20   25   30   35   40   45   50
   6   12   18   24   30   36   42   48   54   60
   7   14   21   28   35   42   49   56   63   70
   8   16   24   32   40   48   56   64   72   80
   9   18   27   36   45   54   63   72   81   90
  10   20   30   40   50   60   70   80   90  100

## Find all pairs (x, y) where x^2 + y^2 = 50 for x, y in range [0, 10].

In [17]:
for x in range(11):             # Loop for x (0 to 10)
    for y in range(11):         # Loop for y (0 to 10)
        if x ** 2 + y ** 2 == 50:  # Check if the condition is satisfied
            print(f"Pair found: ({x}, {y})")

Pair found: (1, 7)
Pair found: (5, 5)
Pair found: (7, 1)