### Assignment 1

### Topic 2.A.1. Practice Assignments : Data Types

#### 1.Python Program to Check if a Number is Odd or Even.

In [3]:
def check_odd_even(number):
    if number % 2 ==0:
        print("the number is even")
    else:
        print("the number is odd")

In [5]:
check_odd_even(5)

the number is odd

In [13]:
check_odd_even(6)

the number is even

#### 2. Write a python program to calculate the length of a string =”The art of crafting a single sentence brings together subjects, verbs, and objects with cohesion.”

In [22]:
string = "The art of crafting a single sentence brings together subjects, verbs, and objects with cohesion."
Length = len(string)
print("length of string is :",Length)

length of string is : 97

#### 3) Print “are you” from the string my_string = ”Hello Ram Where are you going”

In [91]:
my_string = "Hello Ram Where are you going"
sep_string = my_string[15:23]
print(sep_string)

 are you

#### 4) Separate all lower case letters, upper case letters ,special characters & numbers from given string 
#### my_string=”ASdfesD@#HBDHB&^GUV%^*H45fdvnhw74w5e54uuU”
#### Print the given string by the order of given below.
#1. Uppercases
#2. Lowercases
#3. Special Characters
#4. Numbers

In [132]:
# Define the input string
my_string = "ASdfesD@#HBDHB&^GUV%^*H45fdvnhw74w5e54uuU"

# Initialize empty lists 
uppercases = []
lowercases = []
special_characters = []
numbers = []

for char in my_string:
    if char.isupper():
        uppercases.append(char)
    elif char.islower():
        lowercases.append(char)
    elif char.isdigit():
        numbers.append(char)
    else:
        special_characters.append(char)

# Print the results
print("Uppercases:", ''.join(uppercases))
print("Lowercases:", ''.join(lowercases))
print("Special Characters:", ''.join(special_characters))
print("Numbers:", ''.join(numbers))

Uppercases: ASDHBDHBGUVHU
Lowercases: dfesfdvnhwweuu
Special Characters: @#&^%^*
Numbers: 4574554


#### 1)Write a Python script to concatenate following dictionaries to create a new one. 
#### Sample Dictionary : dic1={1:10, 2:20} dic2={3:30, 4:40} dic3={5:50,6:60}

In [145]:
dic1 = {1: 10, 2: 20}
dic2 = {3: 30, 4: 40}
dic3 = {5: 50, 6: 60}

# Create a new dictionary 
concatinate_dict = dic1.copy()  # Start with a copy of dic1
concatinate_dict.update(dic2)   # Update with dic2
concatinate_dict.update(dic3)   # Update with dic3

# Print the result
print("Combined Dictionary:", combined_dict)

Combined Dictionary: {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

#### 2) Given a Python list. Turn every item of a list into its square aList = [1, 2, 3, 4, 5, 6, 7]

In [168]:
numbers = [1, 2, 3, 4, 5, 6, 7]
squared_numbers = [num ** 2 for num in numbers]
print("the square of each numbers is",squared_numbers)

the square of each numbers is [1, 4, 9, 16, 25, 36, 49]

#### 3) Remove empty strings from the list of strings:
#### list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]

In [180]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
new_list = []
for name in list1:
    if name != "":
        new_list.append(name)
print(new_list)

['Mike', 'Emma', 'Kelly', 'Brad']

#### 4) Access value 20 from the following tuple

      #Tuple = ("Orange", [10, 20, 30], (5, 15, 25))

In [190]:
# Define the tuple
Tuple = ("Orange", [10, 20, 30], (5, 15, 25))

# Access the value 20
value = Tuple[1][1]

# Print the result
print("The value  is:", value)

The value  is: 20

#### 5) Given two Python sets, update first set with items that exist only in the first set and not in the second set.
#set1 = {10, 20, 30}
#set2 = {20, 40, 50}

In [208]:
set1 = {10, 20, 30}
set2 = {20, 40, 50}

set1.difference_update(set2)

print(set1)

{10, 30}