### 1) Question: Ask the user for their name and greet them.

In [2]:
name = input("Enter your name :")
print("hello,", name, "!")

Enter your name : nikita

hello, nikita !

### 2) Take the user's age as input and print it.

In [4]:
age = input("Enter your age: ")
print("you are",age,"years old")

Enter your age:  18

you are 18 years old

### 3) Calculate the area of a rectangle given its length and width.

In [6]:
length = float(input("Enter length: "))
width = float(input("Enter width: "))
area = length * width
print("Area of rectangle:", area)

Enter length:  6
Enter width:  3

Area of rectangle: 18.0

### 4) Temperature Conversion

In [8]:
celsius = float(input("enter temperature in celsius :"))
fahrenheit = (celsius * 9/5)+32
print("Temperature in Fahrenheit:", fahrenheit)

enter temperature in celsius : 30

Temperature in Fahrenheit: 86.0

### 5) Determine if a number entered by the user is odd or even.

In [10]:
number = int(input("Enter a number: "))
if number % 2 == 0:
    print(number, "is even.")
else:
    print(number, "is odd.")

Enter a number:  -9

-9 is odd.

### 6) Calculate the simple interest given principal, rate, and time.

In [12]:
principal = float(input("Enter principal amount: "))
rate = float(input("Entr rate of interest: "))
time = float(input("Enter time in years: "))
SI = (principal * rate * time) / 100
print("Simple Interest:", SI)

Enter principal amount:  1000
Entr rate of interest:  15
Enter time in years:  3

Simple Interest: 450.0

### 7) Write a program to reverse a string provided by the user.

In [14]:
string = input("Enter a string: ")
print("Reversed string:", string[::-1])

Enter a string:  nayan

Reversed string: nayan

##### 8) Calculate the factorial of a number input by the user.

In [16]:
num = int(input("enter a number :"))
factorial = 1
for i in range(1,num+1):
    factorial *=i
print(factorial)

enter a number : 5

120

### 9) prime or not

In [18]:
num = int(input("Enter a number: "))  # Step 1: Get input from the user

if num < 2:  # Step 2: Check if the number is less than 2
    print("Not a prime number")  # Numbers less than 2 are not prime
else:
    for i in range(2, num):  # Step 3: Loop through numbers from 2 to num-1
        if num % i == 0:  # Step 4: Check if num is divisible by i
            print("Not a prime number")  # If divisible, it's not prime
            break  # Exit the loop since we found a divisor  #If a divisor is found, it prints that the number is not prime and exits the loop early using break.
    else:
        print("Number is prime.")  # If no divisors were found, it's prime  #This else block is associated with the for loop. It runs only if the loop completes without hitting a break, indicating that no divisors were found, and therefore num is prime.

Enter a number:  3

Number is prime.

### 11. Count Vowels

In [20]:
string = input("Enter a string: ")  # Step 1: Get input from the user
vowels = "aeiouAEIOU"  # Step 2: Define a string containing all vowels (both lowercase and uppercase)
count = sum(1 for char in string if char in vowels)  # Step 3: Count the vowels in the input string
print("Number of vowels:", count)  # Step 4: Print the count of vowels
#The code counts how many vowels (a, e, i, o, u) are present in a user-inputted string

Enter a string:  aarti

Number of vowels: 3

### 12. Palindrome Check

In [22]:
string = input("Enter a string: ")
if string == string[::-1]:
    print(string, "is a palindrome.")
else:
    print(string, "is not a palindrome.")

Enter a string:  nayan

nayan is a palindrome.

### 13 Maximum of Three Numbers

In [24]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
num3 = int(input("Enter third number: "))
maximum = max(num1, num2, num3)
print("Maximum number:", maximum)

Enter first number:  50
Enter second number:  2
Enter third number:  2

Maximum number: 50

### 14. FizzBuzz

### Print numbers from 1 to 100, replacing multiples of 3 with "Fizz", 5 with "Buzz", and 15 with "FizzBuzz".

In [27]:
for i in range(1, 101):
    if i % 15 == 0:
        print("FizzBuzz")
    elif i % 3 == 0:
        print("Fizz")
    elif i % 5 == 0:
        print("Buzz")
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

### 15)Create a simple calculator that performs basic operations.

In [29]:
num1 = float(input("Enter first number: "))
operator = input("Enter operator (+, -, *, /): ")
num2 = float(input("Enter second number: "))
if operator == '+':
    result = num1 + num2
elif operator == '-':
    result = num1 - num2
elif operator == '*':
    result = num1 * num2
elif operator == '/':
    result = num1 / num2
else:
    result = "Invalid operator"
print("Result:", result)

Enter first number:  5
Enter operator (+, -, *, /):  /
Enter second number:  62

Result: 0.08064516129032258

### 16) Create a list of squares of numbers from 1 to n.

In [48]:
n = int(input("Enter a number: "))
squares = [i**2 for i in range (1,n+1)]
print(squares)

Enter a number:  5

[1, 4, 9, 16, 25]

### 17) Calculate the area of a circle based on the radius provided by the user.

In [51]:
radius = float(input("Enter the radius of the circle: "))
area = 3.14*radius**2
print(area)

Enter the radius of the circle:  2

12.56

### 18) Find the maximum value in a list provided by the user.

In [68]:
numbers = list(map(int,input("enter a number seperated by space :").split()))
max_value = max(numbers)
print("The maximum value is:",max_value)

enter a number seperated by space : 8 6 2 35 3569 244 21 0

The maximum value is: 3569

### 19)  Calculate the power of a number.

In [79]:
base = int(input("Enter base: "))
exponent = int(input("Enter exponent: "))
result = base ** exponent
print(f"{base} raised to the power of {exponent} is {result}")

Enter base:  5
Enter exponent:  2

5 raised to the power of 2 is 25

### 20) Swap two variables without using a temporary variable.

In [86]:
a = input("Enter first variable: ")
b = input("Enter second variable: ")
a,b = b,a
print("after swaping : ",a,b)

Enter first variable:  nikita
Enter second variable:  aarti

after swaping :  aarti nikita

### 21) Print a multiplication table for a number entered by the user.

In [96]:
num = int(input("Enter a number: "))
for i in range(1, 11):
    print(num*i)

Enter a number:  2

2
4
6
8
10
12
14
16
18
20

### 22 )Sort a list of numbers provided by the user.

In [103]:
numbers = list(map(int, input("Enter numbers separated by space: ").split()))
numbers.sort()
print("Sorted list:", numbers)

Enter numbers separated by space:  5 3 63 53 52

Sorted list: [3, 5, 52, 53, 63]