In [31]:
import pandas as pd

# Create a DataFrame from a dictionary
data = {'Name': ['John', 'Anna', 'Peter'],'Age': [28, 24, 35],'City': ['New York', 'Paris', 'Berlin'],}

df = pd.DataFrame(data)
print(df)

    Name  Age      City
0   John   28  New York
1   Anna   24     Paris
2  Peter   35    Berlin

In [33]:
# Read data from a CSV file
df = pd.read_csv('train.csv')
print(df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [35]:
# Create a DataFrame
df = pd.DataFrame({'A': [1, 2, 3, 4, 5],'B': [5, 6, 7, 8, 9]})

# Get descriptive statistics
print(df.describe())

              A         B
count  5.000000  5.000000
mean   3.000000  7.000000
std    1.581139  1.581139
min    1.000000  5.000000
25%    2.000000  6.000000
50%    3.000000  7.000000
75%    4.000000  8.000000
max    5.000000  9.000000

In [37]:
# Create a DataFrame
df = pd.DataFrame({ 'Name': ['John', 'Anna', 'Peter'],'Age': [28, 24, 35]})

# Filter rows where Age is greater than 25
filtered_df = df[df['Age'] > 25]
print(filtered_df)

    Name  Age
0   John   28
2  Peter   35

In [39]:
# Create a DataFrame
df = pd.DataFrame({'Category': ['A', 'A', 'B', 'B', 'C'],'Values': [10, 20, 30, 40, 50]})

# Group by 'Category' and calculate the sum
grouped_df = df.groupby('Category').sum()
print(grouped_df)

          Values
Category
A             30
B             70
C             50

In [45]:
import pandas as pd
import numpy as np
# Create a DataFrame with missing values
df = pd.DataFrame({ 'A': [1, np.nan, 3],'B': [4, 5, np.nan]})

# Fill missing values with the mean of the column
df_filled = df.fillna(df.mean())
print(df_filled)

     A    B
0  1.0  4.0
1  2.0  5.0
2  3.0  4.5

In [69]:
#pandas Write a Pandas program to add, subtract, multiple and divide two Pandas Series.

#Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]

import pandas as pd
ds1 = pd.Series([2, 4, 6, 8, 10])
ds2 = pd.Series([1, 3, 5, 7, 9])
ds = ds1 + ds2
print("Add two Series:")
print(ds)
print("Subtract two Series:")
ds = ds1 - ds2
print(ds)
print("Multiply two Series:")
ds = ds1 * ds2
print(ds)
print("Divide Series1 by Series2:")
ds = ds1 / ds2
print(ds)

Add two Series:
0     3
1     7
2    11
3    15
4    19
dtype: int64
Subtract two Series:
0    1
1    1
2    1
3    1
4    1
dtype: int64
Multiply two Series:
0     2
1    12
2    30
3    56
4    90
dtype: int64
Divide Series1 by Series2:
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

In [71]:
#Write a Pandas program to convert a NumPy array to a Pandas series.
#Sample NumPy array: d1 = [10, 20, 30, 40, 50]

import numpy as np
import pandas as pd
np_array = np.array([10, 20, 30, 40, 50])
print("NumPy array:")
print(np_array)
new_series = pd.Series(np_array)
print("Converted Pandas series:")
print(new_series)

NumPy array:
[10 20 30 40 50]
Converted Pandas series:
0    10
1    20
2    30
3    40
4    50
dtype: int32

In [79]:
# Sample data
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9.0, 16.5, 20.0, 14.5, 11.0, 9.5, 18.0, 10.0, 13.0],
    'attempts': [1, 3, 2, 1, 2, 1, 3, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'yes', 'no', 'yes', 'no', 'yes', 'no', 'yes']}

# Create a DataFrame
df = pd.DataFrame(exam_data)

# Get the first 3 rows of the DataFrame
first_three_rows = df.head(3)

# Print the result
print("First 3 rows of the DataFrame:")
print(first_three_rows)

First 3 rows of the DataFrame:
        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes