### Check if a Number is Positive, Negative or 0

In [2]:
num = float(input("Enter a number: "))
if num > 0:
    print("Positive")
elif num < 0:
    print("Negative")
else:
    print("Zero")

Enter a number:  5

Positive

### Check if a Number is Odd or Even

In [5]:
num = int(input("Enter a number: "))
if num % 2 == 0:
    print("Even")
else:
    print("Odd")

Enter a number:  52

Even

### Convert Decimal to Binary, Octal and Hexadecimal

In [12]:
num = int(input("enter a decimal number"))
print("binary:",bin(num)[2:])
print("octal:",oct(num)[2:])
print("hexadecimal:",hex(num)[2:])

enter a decimal number 34

binary: 100010
octal: 42
hexadecimal: 22

### Sort Words in Alphabetical Order

In [29]:
words = input("Enter words separated by space: ").split()
words.sort()
print("Sorted words:", ' '.join(words))

Enter words separated by space:  hello aarti good morning

Sorted words: aarti good hello morning

### Swap Two Variables

In [38]:
a = input("Enter first variable: ")
b = input("Enter second variable: ")
swap = a, b = b, a
print("swapping:",swap)

Enter first variable:  62
Enter second variable:  25

swapping: ('25', '62')

### Calculate the Area of a Triangle

In [41]:
base = float(input("Enter base: "))
height = float(input("Enter height: "))
area = (base * height) / 2
print("Area of the triangle:", area)

Enter base:  5
Enter height:  6

Area of the triangle: 15.0

### Display the Multiplication Table

In [52]:
num = int(input("Enter a number: "))
for i in range(1, 11):
    print(num*i )

Enter a number:  5

5
10
15
20
25
30
35
40
45
50

### Convert Kilometers to Miles

In [56]:
kilometers = float(input("Enter kilometers: "))
miles = kilometers * 0.621371
print("Miles:", miles)

Enter kilometers:  3

Miles: 1.8641130000000001

### Convert Celsius to Fahrenheit

In [61]:
celsius = float(input("Enter temperature in Celsius: "))
fahrenheit = (celsius * 9/5) + 32
print("Fahrenheit:", fahrenheit)

Enter temperature in Celsius:  20

Fahrenheit: 68.0

### Display Powers of 2 Using Anonymous Function

In [68]:
n = int(input("enter number of terms"))
power_of_two = list(map(lambda x:x**2,range(n)))
print(power_of_two)

enter number of terms 11

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]