### What is the value of x

In [2]:
x = 0
while (x < 100):
  x+=2
print("the value of x is",x)

the value of x is 100

### Write a nested for loop program to print multiplication table in Python

In [4]:
for i in range (1,11):
    for j in range(1,11):
        print(i * j,end = ' ')
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

### Nested Loop to Print Pattern

In [6]:
rows = 5
for i in range(1,rows+1):
    for j in range (1,i+1):
        print('*',end=' ')
    print('')

*
* *
* * *
* * * *
* * * * *

In [7]:
rows=6
for i in range(1,rows+1):
    for j in range (1,i+1):
        print('*',end=' ')
    print('')

*
* *
* * *
* * * *
* * * * *
* * * * * *

In [8]:
names = ['aarti','nikita','sushant']
for name in names:
    count = 0
    while count<5:
        print(name,end=' ')
        count = count+1
    print()

aarti aarti aarti aarti aarti
nikita nikita nikita nikita nikita
sushant sushant sushant sushant sushant

### Print a rectangle Pattern with 5 rows and 3 columns of stars

In [10]:
for i in range (5):
    for j in range (3):
        print('*',end='')
    print()

***
***
***
***
***

In [11]:
for i in range(4):
    for j in range(4):
        if j == i:
            print(i,j)

0 0
1 1
2 2
3 3

In [12]:
first = [2,4,6]
second = [2,4,6]
for i in first:
    for j in second:
        if i==j:
            continue
        print(i, '*', j, '= ', i * j)

2 * 4 =  8
2 * 6 =  12
4 * 2 =  8
4 * 6 =  24
6 * 2 =  12
6 * 4 =  24

In [13]:
first = [2, 3, 4]
second = [20, 30, 40]
final = []
for i in first:
    for j in second:
        final.append(i+j)
print(final)

[22, 32, 42, 23, 33, 43, 24, 34, 44]

In [14]:
first = [2, 3, 4]
second = [20, 30, 40]
final = [i+j for i in first for j in second]
print(final)

[22, 32, 42, 23, 33, 43, 24, 34, 44]

### In this example, we will print the first 10 numbers on each line 5 times.

In [36]:
i = 1
while i<=5:
    j=1
    while j <=10:
        print(j,end='')
        j=j+1
    i = i+1
    print()

12345678910
12345678910
12345678910
12345678910
12345678910