### Incrementing a Variable

In [2]:
count = 0 # initialize the variable count to 0
for i in range (5):
    count += 1 # incerament the variable count by 1 each iteration
print("count",count)

count 5

In [112]:
x = 5
x += 3   #x =x + 3
print(x)

8

### Calculating a Sum

In [5]:
total = 0
for number in [2,4,6,8,10]:
    total+=number
print(total)

30

In [6]:
total = 0
for number in  [1,2,6,5,8,100]:
    total+=number
print(total)

122

### Calculating the Average

In [8]:
numbers = [10,20,30,40,50]
sum_numbers = 0 # initialize sum_numbers 0

for num in numbers:
    sum_numbers += num # add each number to sum_numbers
average = int(sum_numbers/len(numbers))

print("average",average)

average 30

In [9]:
#another way

In [10]:
numbers = [10, 20, 30, 40, 50]  # List of numbers

# Calculate the sum of the numbers
total_sum = sum(numbers)

# Calculate the average
average = int(total_sum / len(numbers))

# Print the average
print("Average:", average)

Average: 30

### Swapping Values

In [12]:
a  = 5
b = 10
# Swap the values of a and b
a,b = b,a

print(a)
print(b)

10
5

### Accumulating Product###

In [14]:
product = 1  # Initialize the variable product to 1

for i in range(1, 6):
    product *= i  # Multiply product by the current value of i

print("Product:", product)  # Output the final value of product

Product: 120

In [15]:
#Iteration 1:   i = 1

#product = 1 * 1 = 1
#Iteration 2: i = 2

#product = 1 * 2 = 2
#Iteration 3: i = 3

#product = 2 * 3 = 6
#Iteration 4: i = 4

#product = 6 * 4 = 24
#Iteration 5: i = 5

#product = 24 * 5 = 120

In [16]:
## another way

In [17]:
import math

In [18]:
numbers = range(1,6)

product = math.prod(numbers)

print(product)

120

In [19]:
import math

In [20]:
range_num = range(1,5)
numbers=math.prod(range_num)
print(numbers)

24

In [21]:
numbers = 1*2*3*4
print(numbers)

24

In [22]:
sum = 0
i = 1
while i <= 10:
    sum = sum+i
    i  = i + 1
    print(sum)

1
3
6
10
15
21
28
36
45
55

In [23]:
count = 1
for i in range(1,11):
    count+=1
    print(count)

2
3
4
5
6
7
8
9
10
11

In [24]:
 count = 1  #This line initializes the variable count to 1.

for i in range(1, 6):  #i will take on the values 1, 2, 3, 4, and 5 in successive iterations.
    count += i #count = count + i.

print("count:", count) 

#explaination : First Iteration (i = 1):

#count += 1 →aswfrguki count = 1 + 1 → count becomes 2.
#Second Iteration (i = 2):

#count += 2 → count = 2 + 2 → count becomes 4.
#Third Iteration (i = 3):

#count += 3 → count = 4 + 3 → count becomes 7.
#Fourth Iteration (i = 4):

#count += 4 → count = 7 + 4 → count becomes 11.
#Fifth Iteration (i = 5):

#count += 5 → count = 11 + 5 → count becomes 16.

count: 16

In [25]:
sum = 0
for i in range(1,6):
    if i == 3:
        continue
    sum+=i
print(sum)

12

In [26]:
sum = 0
for i in range (1,6):
    if i == 3:
        break
    sum = sum+i
    print(sum)

1
3

In [80]:
for i in range(1,91):
    print(i)
    if i==7:
        break
print("hello")

1
2
3
4
5
6
7
hello

In [82]:
for i in range(1,11,2):
    print(i)
    if i==5:
        break

1
3
5

In [90]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [92]:
for i in range(-11,0,1):
    print(i)

-11
-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [96]:
for i in range(-1,-11,-1):
    print(i)

-1
-2
-3
-4
-5
-6
-7
-8
-9
-10

In [108]:
for i in range(1,10):
    print("Aarti","salunkhe\n")

Aarti salunkhe

Aarti salunkhe

Aarti salunkhe

Aarti salunkhe

Aarti salunkhe

Aarti salunkhe

Aarti salunkhe

Aarti salunkhe

Aarti salunkhe

In [110]:
for i in range(1,5):
    print("*")

*
*
*
*