# write a python code for hostel students,ask them to mention their course name and age,for 5 students and calculate their avg age.

In [2]:
std_1=input("enter 1st student name")
std_2=input("enter 2nd student name")
std_3=input("enter 3rd student name")
std_4=input("enter 4th student name")
std_5=input("enter 5th student name")

enter 1st student name A
enter 2nd student name B
enter 3rd student name C
enter 4th student name D
enter 5th student name E

In [96]:
age_1=input("enter 1st student age")
age_2=input("enter 2nd student age")
age_3=input("enter3rd student age")
age_4=input("enter 4th student age")
age_5=input("enter 5th student age")

enter 1st student age 45
enter 2nd student age 44
enter3rd student age 78
enter 4th student age 51
enter 5th student age 35

In [12]:
student_2nd=std_2
print(student_2nd)

B

In [98]:
total_age="age_1,age_2,age_3,age_4,age_5"
sum_ages=eval(total_age)
print(sum_ages)

('45', '44', '78', '51', '35')

In [112]:
avg=(45, 44 ,78 ,51,35)
print(sum(avg))

253

In [114]:
total_avg=253/5
print("the total student of avg is ",abs(total_avg))

the total student of avg is  50.6

In [124]:
a=(1,5,5,5,31)
print(len(a))

5

# you are developing a program for a math compition where particopants need to solve mathematicals expression and provide the result.you want to use python to automate the evaluation process.
# here's how you could aaroach it.
# 1.take input from the participant to enter a mathematical expression.
# 2.evaluate the expression entered by the participant and obtain the result.
# 3.display the result to the partcipant.

In [146]:
expression=input("enter the mathematical expression")
result=eval(expression)
print("the mathematical expression is", result)
print("thanks for participating in the math competition")

enter the mathematical expression 236+6658/67*554%4

the mathematical expression is 236.71641791044385
thanks for participating in the math competition

## suppose you are analyzing a dataset containing information about house prices in a city .each record includes details such as the house size(in square feet) number of bedrooms,and price. you want to perform various calculations and applications on this dataset using python.answer the folloing quetions.
# 1. ask the user 1 & 2 to enter house size,number of rooms they want and check the data type user has entered
# 2.calculate the price of house ,if per sq feet is rs 5000.
# 3.threshold price is 75 lakh rs ,whcih user is paying the price abouve threshold price.

In [204]:
house_size_1=float(input("user1 enter the size of house"))
num_of_rooms_1=int(input("user1 enter the number of rooms"))
price_1=float(input("user1 enter the budget"))

house_size_2=float(input("user2 enter the size of house"))
num_of_rooms_2=int(input("user2 enter the number of rooms"))
price_2=float(input("user2 enter the budget"))

user1 enter the size of house 1500
user1 enter the number of rooms 3
user1 enter the budget 65000000
user2 enter the size of house 1500
user2 enter the number of rooms 3
user2 enter the budget 85000000

In [278]:
user_1_price=house_size_1*5000
user_2_price=house_size_2*5000
print("the price of house for user1 is",user_1_price)
print("the price of house for user2 is",user_2_price)

the price of house for user1 is 7500000.0
the price of house for user2 is 10000000.0

In [276]:
thershold_price=7500000
thershold_price_1=user_1_price>=thershold_price
thershold_price_2=user_2_price>=thershold_price
print("user 1 is paying above threshold",thershold_price_1)
print("user 2 is paying above threshold",thershold_price_2)

user 1 is paying above threshold True
user 2 is paying above threshold True

# you are working on project t+o analyze stock market data.create variables to store the stock symbol,current price,after  and percentage change in price,then calculate new price after a 10% increase using arithmetic operators.finally prompt the user to enter their budget using the input() function,convert it to a float using the float() function,and compare it with the new price

In [22]:
stock_symbol="xyz"
current_price=100
percent_change=10
new_price=float(current_price+10)
print("the new price of stock is",new_price)
user_budget=int(input("enter your budget"))
costomer_price=user_budget>=new_price
print("user budget is greater than new price",costomer_price)

the new price of stock is 110.0

enter your budget 500

user budget is greater than new price True

# you are working on project to analyze whether data. create variables to store the current temperature,the minimum temp recorded and the maximum temp recorded.determine whether the current temp is within the range of minimun and maximum temperatures recorded using logical operators

In [41]:
max_temp=int(input("enter your current temp"))
min_temp=int(input("enter your current temp"))
cur_temp=int(input("enter your current temp"))

enter your current temp 45
enter your current temp 30
enter your current temp 25

In [43]:
check_a=max_temp>=cur_temp
print("user temp is greater than the current temp",check_a)

user temp is greater than the current temp True

In [45]:
check_b=min_temp>=cur_temp
print("user temp is greater than the current temp",check_b)

user temp is greater than the current temp True