### 1. Add Two Numbers

In [1]:
def add(a,b):
    return a+b

In [3]:
add(5,6)

11

### 2. Subtract Two Numbers

In [5]:
def subtract(a, b):
    return a - b

In [7]:
subtract(5,6)

-1

### Divide Two Numbers

In [24]:
def divide(a,b):
    if b!=0:
        return a/b
    else:
        return "divisible by zero"

In [34]:
divide(1,0)

'divisible by zero'

### Max of Two Numbers

In [60]:
def max_of_two(x,y):
    if x>y:
        return x
    else:
        y

In [64]:
max_of_two(5,3)

5

### Check Even or Odd

In [86]:
def is_even(number):
    if number%2==0:
        return "even number"
    else:
        return "odd number"

In [88]:
is_even(5)

'odd number'

### Reverse a String

In [92]:
def reverse_string(s):
    return s[::-1]
print(reverse_string('hello'))

olleh

### Sum of List

In [98]:
def sum_of_list(list):
    return sum(list)

print(sum_of_list([1,5,6,4]))

16

### Find the Minimum

In [101]:
def min_of_two(a, b):
    return a if a < b else b

print(min_of_two(10, 20))

10

### Count Elements in a List

In [106]:
def count_elements(lst):
    return len(lst)

print(count_elements([1, 2, 3, 4, 5]))

5

### Remove Duplicates from a List

In [109]:
def  remove_duplicates(L):
    return list(set(L))

print(remove_duplicates([1,5,6,6,3,2]))

[1, 2, 3, 5, 6]

## Merge Two Lists

In [112]:
def merge_lists(lst1, lst2):
    return lst1 + lst2

print(merge_lists([1,2,3],[4,5,6]))

[1, 2, 3, 4, 5, 6]

## Sort a List

In [120]:
def sort_list(lst):
    return sorted(lst)

print(sort_list([5,6,8,7,7,3]))

[3, 5, 6, 7, 7, 8]

### Find the Average of a List

In [130]:
def average(lst):
    return sum(lst)/len(lst) 

print(average([5,6,3,1]))

3.75

### Get Unique Characters in a String

In [139]:
def unique_characters(s):
    return ''.join(set(s))

print(unique_characters('hello'))   ## Output: "helo" (order may vary)

####explaination:

#Creating a Set:

#set(s) converts the string s into a set.
#A set is a collection data type that automatically removes duplicate values. So, if s contains any repeated characters, they will only appear once in the set.
#For example:

#If s = "hello", set(s) will produce {'h', 'e', 'l', 'o'}. Note that the order of characters is not guaranteed because sets are unordered collections.
#Joining Characters:

#''.join(...) takes the set of unique characters and concatenates them into a single string.
#The join() method is called on an empty string '', which serves as the separator. In this case, since we want to combine characters without any separators, we use an empty string.

oelh

### Convert Celsius to Fahrenheit

In [146]:
def celsius_to_fahrenheit(celsius):
    return (celsius*9/5)+32

print(celsius_to_fahrenheit(5))

41.0