### 1. Write a Python program to print the following string in a specific format (see the output).
#Sample String : "Twinkle, twinkle, little star, How I wonder what you are!
#Up above the world so high, Like a diamond in the sky.
#Twinkle, twinkle, little star, How I wonder what you are" Output :

In [2]:
paragraph = "Twinkle, twinkle, little star,\nHow I wonder what you are!\nUp above the world so high,\nLike a diamond in the sky.\nTwinkle, twinkle, little star, How I wonder what you are"
print(paragraph)

Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky.
Twinkle, twinkle, little star, How I wonder what you are

In [3]:
import sys

In [4]:
print("python version")
print (sys.version)
print("Version info.")

python version
3.12.4 | packaged by Anaconda, Inc. | (main, Jun 18 2024, 15:03:56) [MSC v.1929 64 bit (AMD64)]
Version info.

### Write a Python program to display the current date and time.

In [6]:
import datetime
today = datetime.datetime.now()
print(today)

2024-08-19 22:26:28.676469

#### Write a Python program which accepts the radius of a circle from the user and compute the area

In [8]:
import numpy as np

In [14]:
def area_of_circle():
    radius = float(input("enter the radius of circle"))
    area=np.pi*radius*radius
    return area

In [16]:
 area_of_circle()

enter the radius of circle 5

78.53981633974483

### Write a Python program which accepts the user's first and last name and print them in reverse order with a space between them.

In [19]:
def reverse_the_string():
    first_name = input("enter your first name")
    last_name = input("enter your last name")
    return last_name[::-1],first_name[::-1]

In [21]:
reverse_the_string()

enter your first name Aarti
enter your last name Anjali

('ilajnA', 'itraA')

In [25]:
f_name = input("Input your First Name : ")
l_name = input("input your last name : ")
print(l_name+ " " +f_name)

Input your First Name :  nikita
input your last name :  salunkhe

salunkhe nikita

### Write a Python program which accepts a sequence of comma-separated numbers from user and generate a list with those numbers

In [28]:
values = input("Input some comma seprated numbers : ")
list1 = values.split(",")
print(list1)

Input some comma seprated numbers :  50.3

['50.3']

### Write a Python program to accept a filename from the user and print the extension of that

In [45]:
file_name=input('Enter the name of file')
a=file_name.split('.')
print(a[1])

Enter the name of file python.txt

txt

### Filter Function

In [ ]:
x =[ 4,10,3,6,2,10,62,56,55,33]
filter_elem = filter(lambda a:a>5,x)
list(filter_elem)

In [ ]:
filter_even = filter(lambda a:a%2==0,x)
list(filter_even)

In [ ]:
filter_odd = filter(lambda a:a%2 !=0,x)
list(filter_odd)

### Map Function

In [ ]:
b = [3,56,4,85,85,8,9,8]

In [ ]:
map_result = map(lambda a:a%2==0,b)
list(map_result)

In [ ]:
map_result = map(lambda a:a*2,b)
list(map_result)

### reduce function

In [ ]:
import functools

In [ ]:
x = [2,5,4,9,7,4,10]

In [ ]:
result = functools.reduce(lambda a,b:a+b,x)
print(result)

In [ ]:
smallest = functools.reduce(lambda a,b: a if a<b else b,x)
print(smallest)