# logical operator

In [3]:
x=True 
y=False
print(x and y)

False

In [3]:
x=True
y=False
print(x or y)

True

In [5]:
x=True
print(not x)

False

In [7]:
y=False
print(not y)

True

## You have a data containing two records: "Quantity and "price per unit". how would you use arithmetic operators to calculate the total cost for each item, also calculate the total cost? product 1,quantity 5 ,price per unit rs 250 product 2,quantity 25, price per unit 256 product 3 ,quantity 34, price per unit 274

In [34]:
product_1=5*250
product_2=25*256
product_3=34*274
print(product_1)
print(product_2)
print(product_3)
print("the total cost of customer need to pay is", product_1+product_2+product_3)

1250
6400
9316
the total cost of customer need to pay is 16966

### simple interest(S.I)=P*R*T/100.......formula

p=1500000
r=8
t=3
Threshold_amount=120000
SI=(p*r*t)/100
print("the simple interest is",SI)

In [31]:
comp = SI>Threshold_amount
print(comp)
print ("the value of simple interest is greater than threshold value")

True
the value of simple interest is greater than threshold value

# write a python program to calculate the area of a circle with a radius of 12 cm

# area of cirle=pi*r**2

In [43]:
r=12
pi=3.14
A=pi*r**2
print("Area of circle is",A)

Area of circle is 452.16

# built in function in python

# Float function

In [3]:
a=12
type(a)

int

In [5]:
b=float(a)
print(b)

12.0

In [7]:
a="3.15"
type(a)

str

In [9]:
b=float(a)
print(b)

3.15

# int function

In [2]:
a=2.326
type(a)

float

In [8]:
b=int(a)
print(b)

2

# str function

In [27]:
a=5
type(a)

int

In [29]:
b=str(a)

In [15]:
print(b)

5

In [17]:
c="2"
print(type(c))

<class 'str'>

In [19]:
print(b+c)

52

In [25]:
a="5"
b="6"
print(b+c)        # str is perform concatenation

62

In [31]:
a=5
b=str(a)

In [33]:
print(b)

5

In [43]:
x="25.3235686" "1454"
y=str(x)
print(y)

25.32356861454

# complex function

In [54]:
comp=complex(1,-56)
print(comp)

(1-56j)

# abs function(absolute function)

In [62]:
x=-56
print(abs(x))

56

In [64]:
x=1'-neha'
print(abs(x))

SyntaxError: invalid syntax (3866151727.py, line 1)

In [66]:
z=4+5j
print(abs(z))

6.4031242374328485

# len function

In [4]:
a="my name is aarti"
print(len(a))

16

In [6]:
a=(2,5,4,4,5,2)
print(len(a))

6

## in a game aaplications, the playre's score is strored as a floating-point number,however, for leaderboard display,you need to convert the score to an integer,how would you use the int() function to convert the players score from floating point to integer format solve this with code, splayer score =1234.20

In [10]:
player_score=1234.20
print("The player score is ",int(player_score))

The player score is  1234

# in costomer relationship management(CRM) systems for a retail company,you have a database containing customer records.how would you use len() function to find the total number of costomers in the database,allowing the company to track its costomer base?

In [22]:
costomer_database=[(1,'nikita salunkhe', 'sushant salunkhe'),
(2,'aarti salunkhe', 'niku salunkhe'),
(3,'salunkhe','nikita')]
print("total number of costomers in the database",len(costomer_database))

total number of costomers in the database 3

# You are developing a finantial application that calculates simple interest.
# the principal abount is 250000 rs, the interest rate is 9.34465%,and the time period is 3 years.calculate the simple interest (SI),and the final value should be an integer.

In [26]:
p=250000
r=9.34465
t=3
SI=p*r*t/100
print("simple ineterst is",int(SI))

simple ineterst is 70084

# You are working at a travel company,responsible for managing passenger information.due to a technical glitch in the booking system,some passengers'ages were mistakenly recorded as negetive values.however,age cannot be negetive,and its essential to correct this data inconsistency before further analysis or reporting.
# which function you will use to correct the ages of all passengers in the dataset where negetive ages were recorded due to a technical glitch?

In [40]:
total_passengers=-2594
print("the passangers total record ",abs(total_passengers))

the passangers total record  2594