### loops in python practice

In [10]:
for i in "python":
    print(i,'?')

p ?
y ?
t ?
h ?
o ?
n ?

In [12]:
for i in range (5):
    print(i)

0
1
2
3
4

In [14]:
for i in range(10,20):
    print(i)

10
11
12
13
14
15
16
17
18
19

### write a program to print first 10 natural number.

In [19]:
for i in range(0,11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

### write a program to print first 10 even numbers.

In [43]:
for i in range (2,22,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

### write a program to print first 10 odd numbers

In [46]:
for i in range (1,21,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

### write a program to print first 10 even numbers in reverse order

In [49]:
for i in range (20,0,-2):
    print(i)

20
18
16
14
12
10
8
6
4
2

### write a program to print table of number accepted from user.

In [63]:
num = int(input("enter a number"))
for i in range(1,11):
    print(num*i)

enter a number 2

2
4
6
8
10
12
14
16
18
20