## list

### changing elements

In [13]:
my_list = [1,2,3,4,5]
my_list[2]="hello"
print(my_list)

[1, 2, 'hello', 4, 5]

### change a range of item values

In [70]:
a = [4,5,2,8,7,9,6,3,58,8,652]
a[2:4] = "books","pen","peper"

In [72]:
print(a)

[4, 5, 'books', 'pen', 'peper', 7, 9, 6, 3, 58, 8, 652]

### add list items

In [79]:
thislist = ["apple","banana","cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

### remove the items

In [83]:
b = [4,5,8,7,5.5,6,5,69853,653,5,52,53]
b.remove(5.5)
print(b)

[4, 5, 8, 7, 6, 5, 69853, 653, 5, 52, 53]

### join the list

In [88]:
list1 = [1,5,6]
list2 = [5,8,6]
print(list1+list2)

[1, 5, 6, 5, 8, 6]

### check is a list contains an element

In [93]:
a = [4.5,44,5,7,72,41,"hello"]
41 in a

True

In [96]:
2.5 in a

False

### reversing a list

In [107]:
a = [4.5,44,5,7,72,41.5,852,63]
a.reverse()
print(a)

[63, 852, 41.5, 72, 7, 5, 44, 4.5]

#### Task: data cleaning 
#### you have a list responses containing responses from a survay.
#### however,some responses are recorded as empty strings due to data entry errors. 

#### your task is to remove these empty responses from list.
#### write python code to remove all empty responses from the responses list

In [132]:
#responses = ["yes","","no","","Maybe","","","yes","no",""]         # survay form responses list

In [148]:
responses = ["yes","","no","","Maybe","","","yes","no",""] 
clean = []

for response in responses:
    if response!="":
        clean.append(response)
    else:
        pass    
        
print(clean)

['yes', 'no', 'Maybe', 'yes', 'no']

#### Data analysis scenario:

In [154]:
#you have two lists containing exam scores of students from two different classes.
#the lists are class1_scores and class2_scores.
#you need to analyze the performance of the classes by calculating the average score for each class.
#write python code to calculate the average score for each class.

#class1_scores = [85,90,88,92,78]
#class2_scores = [75,82,80,85,79]

In [167]:
class1_scores = [85,90,88,92,78]
class2_scores = [75,82,80,85,79]     
class1_avg = sum(class1_scores)/len(class1_scores)
class2_avg = sum(class2_scores)/len(class1_scores)
print("the average score of class 1 is",class1_avg)
print("the average score of class 1 is",class2_avg)

the average score of class 1 is 86.6
the average score of class 1 is 80.2

#### given two lists

#### list1 = [[1,2], [3,4], [5,6]] and list2 = [[7,8], [9,10]]
#### concatenate them into a single list of lists.

In [178]:
list1 = [[1,2], [3,4], [5,6]]
list2 = [[7,8], [9,10]]
#concatinate two list
print(list1+list2)

[[1, 2], [3, 4], [5, 6], [7, 8], [9, 10]]