### string methods :

#### 1)create a string variable sentenses with any sentenses of your choise.
#### 2)convert the sentense to uppercase.
#### 3)split the sentense into a list of words.
#### 4)join the words in the list using a space as the seperator.
#### 5)print the modufied sentenses

In [2]:
name = "Aarti salunkhe"
print(name.upper())
print(name.split())
join_name = "".join(name)
print(join_name)
print("modified list is",name)

AARTI SALUNKHE
['Aarti', 'salunkhe']
Aarti salunkhe
modified list is Aarti salunkhe

### list sorting:

In [4]:
# create a list named ages containing integers representing ages of individuals
# sort the list in ascending oreder 
# sort the list in descending order 
# print the sorted lists

In [5]:
ages = [18,45,15,98,20,58,68,35,44,87]
ages_ascending = ages.sort()
print(ages)

ages_descending  = ages.reverse()
print(ages)

print("the sorted list is",ages)

[15, 18, 20, 35, 44, 45, 58, 68, 87, 98]
[98, 87, 68, 58, 45, 44, 35, 20, 18, 15]
the sorted list is [98, 87, 68, 58, 45, 44, 35, 20, 18, 15]

## Tuples

In [7]:
a = (41,62,85)
print(a)
print(type(a))

(41, 62, 85)
<class 'tuple'>

### empty tumple

In [9]:
tup = ()
print(tup)

()

### single element

In [11]:
b = (6)
print(b)
type(b)

6

int

In [12]:
b = (6,)           #single element tuple
type(b)

tuple

### a tuple with mixed data type

In [14]:
 b = (4,5.2,6,"aarti",True)
print(b)
type(b)

(4, 5.2, 6, 'aarti', True)

tuple

### nested tuples

In [16]:
 b = (4,5.2,6,"aarti",(True,False))
print(b)
type(b)

(4, 5.2, 6, 'aarti', (True, False))

tuple

In [17]:
num = (4,(5.2,6),"aarti",True,[10,20,30])
print(num)
type(num)

(4, (5.2, 6), 'aarti', True, [10, 20, 30])

tuple

### Tuple constuctor

In [19]:
tuple_empty = tuple()
print(tuple_empty)
type(tuple_empty)

()

tuple

### converting list into tuple

In [21]:
list = [1,2,3,4]          
number = tuple(list)    # convert in tuple 
print(number)
type(number)

(1, 2, 3, 4)

tuple

In [22]:
converting string into a tuple

SyntaxError: invalid syntax (4221254808.py, line 1)

In [ ]:
string = "hello"
tuple = tuple(string)
print(tuple)
print(type(tuple))

### converting dictionary into a tuple

In [32]:
dic = {'a': 1, 'b': 2, 'c': 3}         #dictionary type
print(dic)
print(type(dic))

tup = tuple(dic)
print(tup)
print(type(tup))           #converting dic into tuple

{'a': 1, 'b': 2, 'c': 3}
<class 'dict'>
('a', 'b', 'c')
<class 'tuple'>

### converting a set into a tuple

In [42]:
set = {1,2,3,4,5,6}
print(set)
print(type(set))

tup2 = tuple(set)
print(tup2)
print(type(tup2))

{1, 2, 3, 4, 5, 6}
<class 'set'>
(1, 2, 3, 4, 5, 6)
<class 'tuple'>

In [44]:
my_list = [1,2,3,4,5,9]
print(tuple(my_list))

(1, 2, 3, 4, 5, 9)

In [46]:
empty_tuple = []
print(empty_tuple)          #empty

[]

In [54]:
empty_tuple1 = tuple()      #empty
print(empty_tuple1)

()