# Tuple

In [9]:
my_tuple = (1, 2, 3, 4)
print(my_tuple)
type(my_tuple)

(1, 2, 3, 4)

tuple

In [11]:
mixed_tuple = (1, "hello", 3.14, True)
print(mixed_tuple)

(1, 'hello', 3.14, True)

In [13]:
nested_tuple = (1, (2, 3), (4, 5, 6))
print(nested_tuple)

(1, (2, 3), (4, 5, 6))

In [25]:
single_element_tuple = (22,)
print(single_element_tuple)

(22,)

In [19]:
fruits = ("apple", "banana", "cherry")
print(fruits[-1])

cherry

In [21]:
person = ("John", 25, "Engineer")
name, age, profession = person
print(name)     
print(age)       
print(profession)

John
25
Engineer

In [23]:
values = (1, (2, 3), (4, (5, 6)))
print(values[1][1])  
print(values[2][1][0])

3
5

In [35]:
immutable = (10, 20, 30)
immutable[0]

10

In [43]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
combined_tuple = tuple1 + tuple2
print(combined_tuple)

(1, 2, 3, 4, 5, 6)

In [45]:
tuple_values = (1, 2, 3)
repeated_tuple = tuple_values * 3
print(repeated_tuple)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [47]:
colors = ("red", "green", "blue")
for color in colors:
    print(color)

red
green
blue

In [49]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
result = tuple1 + tuple2
print(result)

(1, 2, 3, 4, 5, 6)